body {
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
}

body, html {
  width: 100%;
  overflow-x: hidden;
}


.navbar {
  transition: 0.4s;
}

.header {
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: top 0.4s ease;
}

.header.hidden {
  top: -100%;
  transition: top 0.4s ease;
  background-color: black;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  max-width: 75rem;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  display: block;
  height: 6.5rem;
  width: 7rem;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.7rem;
  margin-top: 1.2rem;
}

.menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.2s ease;
}

button {
  background-color: #C3361F;
  color: white;
  border: 5px solid #C3361F;
  cursor: pointer;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 7px;
}

button a {
  text-decoration: none;
  color: #FFFFFF;
}

.carousel {
  position: relative;
  width: 100%;
  height: 40rem;
  overflow: hidden;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 2;
  width: 90%;
  line-height: 0.7;
}

.carousel img {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  filter: brightness(30%);
}

.carousel img.active {
  display: block;
}

.linha {
  border: 4px solid #C9C9C9;
}

.container-sobre {
  
  padding: 0px 0px;
  overflow: auto;
}

.container-sobre img {
  width: 19rem;
  border-radius: 10%;
  margin: 0 1.5rem 1rem 6rem;
  float: left;
}

.sobre-texto p {
  color: #1A1A1A;
  font-size: 1rem;
  line-height: 2.7rem;
  display: block;
  margin-right: 6rem;
  margin-top: 2.5rem;
}

#sobre {
  color: #111111;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.introdução {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
}

#frase {
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 4rem;
}

#frase h1 {
  font-family: "Bebas Neue", sans-serif;
}



#modalidades,
#instrutores {
  width: 95%;
  margin-left: 60px;
  background-color: #E6E6E6;
  padding: 2rem 0px 5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 35rem;
  

}

#modalidades {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  
}

#instrutores {
    border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}



#instrutores h2 {
  width: 100%;
  text-align: center;
}

#contato h2 {
  width: 100%;
  padding: 3rem 0 5rem;
  text-align: center;
}

#modalidades h2,
#instrutores h2,
#contato h2 {
  color: #111111;
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.card {
  width: 15rem;
  height: 19rem;
  background-color: rgb(179, 179, 179);
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 2px solid #C9C9C9;
  border-radius: 12px;
  overflow: hidden;
}

.card-front {
  background-color: rgb(179, 179, 179);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front img {
  width: 14rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 7%;
}

.card-front h3 {
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  margin-top: 0.7rem;
}

.card-back {
  background-color: rgb(179, 179, 179);
  color: #000000;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
}

.card-back button {
  background-color: white;
  color: #97817c;
  border: none;
  padding: 0.7rem;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
}

.card-back button:hover {
  background-color: #ffffff;
}

.card--inst {
  width: 15rem;
  height: 19rem;
  background-color: rgb(179, 179, 179);
  border: 2px solid #C9C9C9;
  border-radius: 12px;
  text-align: center;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.card--inst img {
  height: 11rem;
  width: 12rem;
  border-radius: 5%;
}

.card--inst h3 {
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  margin: 0.7rem;
}

.card--inst p {
  font-size: 0.8rem;
  color: #000000;
}

/* #instrutores {
  background-color: rgb(0, 0, 0);
  height: 40rem;
} */

.btn-saiba-mais {
  background-color:  #C3361F;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-saiba-mais:hover {
  background-color: rgb(120, 30, 30);
}

#galeria h2 {
  color: #000000;
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
}

#contato {
  background-color: #E6E6E6;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0 7rem;
  
}

#contato .container-contato {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.mapa iframe {
  width: 30rem;
  height: 15rem;
}

.logo-2 .paragrafos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.logo-2 p {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  text-align: center;
}

.paragrafos i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.paragrafos a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

footer {
  height: 5rem;
  background-color: #000000;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.galeria-container {
  width: 90%;
  margin: 0rem auto 8rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}




.galeria {
  width: 100%;
  overflow: hidden;
  
}

.grupo {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 80rem;
}

.grupo.ativo {
  display: grid;
}

.grupo img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
}

.btn {
  background: #ba3826;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  transition: 0.2s;
}

.btn:hover {
  background: #8c0a0a;
}

#galeria h3 {
  color: black;
  font-size: 1.7rem;
  line-height: 2.7rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
}

#galeria i {
  font-size: 2rem;
}


.galeria-container1 {
  display: flex;             
  align-items: center;       
  justify-content: center;   
  gap: 6px;                  
  margin-bottom: 100px;    
}

#galeria i {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

#galeria h3 {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}


.hamburger {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  
}

.hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background: #ba3826; 
  border-radius: 4px;
  
}







/* responsividade */

@media (max-width: 768px) {
 
  .container-header {
    padding: 0rem 1.7rem;
    gap: 0.1rem;
    text-align: center;
    height: 3rem;
    display: flex;
    width: 100%;
  }

  .logo img {
    height: 2.8rem;
    width: 2.8rem;
    display: flex;
  }

  .menu {
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.2rem;
    display: flex;
  }

  .menu {
    position: absolute;
    top: 90px;
    right: 0;
    background: #ffffff;
    width: 200px;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    display: none;
    z-index: 999;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .container-header {
    position: relative;
  }

  .agende {
    display: none;
  }

  button {
    display: none;
    text-decoration: none;

  }

  /* CARROSSEL */
  .carousel {
    height: 18rem;
    
  }

.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
 
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}


  .carousel {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 18rem;
  }

  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /* SOBRE */
  .container-sobre {
    padding: 1.5rem 1rem;
    display: block;
    overflow: auto;
  }

  .container-sobre img {
    margin: 0 1rem 1rem 0;
    width: 150px;
    float: left;
  }

  #sobre h1 {
    font-size: 1.2rem;
  }

  #sobre p,
  .introdução {
    font-size: 0.6rem;
    padding: 0;
  }

  .sobre-texto p {
    margin: 0;
    line-height: 1.6rem;
    font-size: 0.7rem;
  }

  #frase {
    font-size: 1.5rem;
    margin-top: 0;
  }

  /* TÍTULOS */
  #modalidades h2,
  #instrutores h2,
  #contato h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  #galeria h2 {
    font-size: 1.5rem;
  }

  /* MODALIDADES */
  #modalidades {
    height: auto;
    padding-bottom: 5rem;

  }

  #modalidades,
  #instrutores {

  }



  .card-container {
    gap: 0.5rem;
  }

  .card,
  .card--inst {
    width: 6rem;
    height: 9rem;
  }

  .card--inst {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
  }

  .card--inst img,
  #instrutores img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 0.5rem auto;
    width: 5rem;
  }

  .card-front img {
    width: 5rem;
    height: 5rem;
  }

  .card-back {
    font-size: 0.4rem;
  }

  #modalidades h3 {
    font-size: 1rem;
  }

  #modalidades button {
    font-size: 12px;
    height: 1rem;
    width: 4rem;
    margin: 0;
    padding: 0;
  }

  /* INSTRUTORES */
  #instrutores {
    height: 17rem;
  }

  #instrutores h3 {
    font-size: 0.6rem;
    margin: 0;
  }

  #instrutores p {
    font-size: 0.4rem;
  }

  /* GALERIA */
/* ============================
   GRUPO DE IMAGENS
============================ */

.grupo {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.grupo.ativo {
  display: flex;
}

.grupo img {
  width: 100%;
  max-width: 310px;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

/* ============================
   TÍTULOS E ÍCONES DA GALERIA
============================ */

#galeria h3 {
  font-size: 0.7rem;
  margin: 0;
}

#galeria h2 {
  margin-bottom: 0;
}

#galeria i {
  font-size: 1rem;
  margin-right: 10px;

}

/* ============================
   CONTAINER DA GALERIA
============================ */


.galeria {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ============================
   BOTÕES DA GALERIA
============================ */

.galeria-container .btn {
  background: #ba3826;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}



#galeria .galeria-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}



  

  /* CONTATO */
  #contato .container-contato {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .mapa iframe {
    width: 100%;
    height: 13rem;
  }

  .logo-2 .paragrafos {
    align-items: center;
  }

  .logo-2 p {
    text-align: center;
  }

  /* FOOTER */
  footer {
    font-size: 0.9rem;
  }
}
